<% content_for :head do %>
	<meta property="og:image" content="<%= "#{root_url}avi.jpg" %>"/>
	<%= auto_discovery_link_tag(:rss, posts_url(format: "rss")) %>
	<meta name="description" content="<%= default_description %>">
	<meta property="og:description" content="<%= default_description %>">
	<meta property="og:site_name" content="Cam Juarez's Blog" />
<% end %>

<% content_for :sidebar do %>
	<h2>About</h2>
		<img src="<%= root_url %>avi.jpg" class="img-thumbnail" style="margin-bottom: 20px;">
	<p><small>Viewers,</small></p>
	<p><small>
		I'm Cam, a senior Computer Science major at the University of Oregon. I worked as an intern for <%= link_to 'Amazon.com', 'http://www.amazon.com/' %> in the summer of 2012 and developed a SaaS Visualization Tool for AmazonLocal's targeting team. I then spent a brief period during fall 2012 studying Software Engineering and Automata Theory at UC San Diego.
	</small></p>

	<p><small>
		After Amazon, I landed on a great opportunity to work as an intern for <%= link_to 'Google', 'https://www.google.com/' %> in the summer of 2013. During my time there I was a part of the team that launched Google <%= link_to 'Chromecast', 'http://www.google.com/intl/en/chrome/devices/chromecast/' %>, a device that makes 2nd-screen interaction viable and entertainment more accessible for everyone. 
	</p></small>
	<p><small>	
		I love traveling and have visited France, Germany, Belgium, Holland, Italy, and Costa Rica. I couldn't live without music, during summers I try to get a few days off to catch a festival.
	</small></p>
	<h2>Projects</h2>
	<ul class="projects-list">
		<li><%= link_to 'Memeosa', 'http://memeosa.com' %></li>
		Meme generator which allows users to create Meme groups for increased contextual awesomeness.
		<li><%= link_to 'Sigma Phi Epsilon', 'http://oregonsigep.com' %></li>
		Official website of the University of Oregon SigEp chapter.
		<li><%= link_to 'Roommate Matcher', 'https://www.duckshousing.com/roommates' %></li>
		A matching system to make University of Oregon students' lives easier, built for the <%= link_to 'Emerald Media Group', 'http://future.dailyemerald.com' %>.
		<li><%= link_to 'Camjuarez.com', root_path %></li>
		My personal blog.
		<li><%= link_to 'TritonYelp', 'http://camjuar.com/posts/tritonyelp' %></li>
		A yelp-like system for students at UC San Diego (class project).
		<li><%= link_to 'Hypewav', 'http://hypewav.com', :class => 'disabled', :title => 'HypeWAV is no longer active.' %></li>
		A music discovery service created with DJ Alex Ries in hopes to share our musical tastes with the world.
	</ul>

<% end %>
<h2>Feed <!--<%= link_to image_tag("/rss-icon-100x.png", :class => 'rss-icon-index'), posts_url(format: "rss") %>--></h2>
<div class="posts">
	<% @posts.each do |post| %>
		<h4><%= link_to post.title, post %></h4>
		<div class="date-time"><%= post.category %> &middot; <%= timeago post.created_at %></div>
		<br />
	<% end %>
</div>
