<% content_for :og_tags do %>
	<meta property="og:image" content="/avi.jpg"/>
<% end %>

<% content_for :sidebar do %>
	<h2>About</h2>
		<img src="<%= root_url %>avi.jpg" class="img-polaroid">
	<small>I'm Cam, a Computer Science and Math double major at the University of Oregon. I love to travel and have visited France, Germany, Belgium, Holland, Italy, Costa Rica and more. I couldn't live without music, most summers I try to get a few days off to catch a festival. I worked as an intern for Amazon.com and developed a (SaaS) Visualization Tool for AmazonLocal's targeting team in summer of 2012. I spent fall '12 studying at UC San Diego. I'm working as an intern with Google in summer of 2013 and would like to pursue graduate studies at Stanford University.</small>
	<h2>Projects</h2>
	<ul class="projects-list">
		<li><%= link_to 'Camjuarez.com', root_path %></li>
		My personal blog.
		<li><%= link_to 'Hypewav', 'http://hypewav.com' %></li>
		Created with DJ Alex Ries in hopes to share our musical tastes with the world.
	</ul>

	<h2>Reasearch</h2>
	Coming soon!
<% end %>
<h2>Feed</h2>
<div class="posts">
	<% @posts.each do |post| %>
		<h4><%= link_to post.title, post %></h4>
		<div class="date-time"><%= post.created_at.to_formatted_s(:long) %></div>
		<br />
	<% end %>
</div>