<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :entry, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :entry, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :header_image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :header_image, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :header_image_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :header_image_title, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
