<% content_for :title do %>
    <%= @post.title %> | Cam's Blog
<% end %>

<h2><%= @post.title %></h2>
 <div class="date-time"><%= @post.created_at.to_formatted_s(:long) %></div>
<p>
  <%= @post.entry.html_safe %>
</p>

<div class="discussion">
	<h3>Discussion</h3>
</div>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>
<% end %>